*{
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}
.logo-btn img{
  max-width: 150px;
  max-height: 150px;
}
.add-cart-btn{
  max-width: 120px;
  margin: 0 auto;
}
.my-container{
  max-width: 1300px;
  margin: 0 auto;
}
.wrapper{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
Footer{
  margin-top: auto;
}

